header {
  background-color: white;
  /*change color*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem 2rem 4rem;
  /*change size*/
}

header h1 {
  font-size: 2rem;
  /*change size*/
  text-align: center;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  font-size: 18px;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  padding: 1rem 0 2rem 4rem;
  text-transform: uppercase;
  display: block;
  color: black;
  /*change color*/
  text-decoration: none;
}

nav a:hover {
  color: #FC6C85;
  border-radius: 1rem;
  /*change*/
}

main {
  padding: 0 4rem;
}

main h2 {
  font-size: 85px;
  /*change size*/
  text-align: center;
  padding-bottom: 4rem;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  line-height: 5rem;
}

.about {
  font-size: 24px;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  font-family: "Lato", sans-serif;
}

.intro {
  padding-bottom: 8rem;
  padding-top: 6rem;
  line-height: 2rem;
}

.wrapper {
  background-color: white;
  max-width: 2500px;
  margin: 0 auto;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 67.286% 32.714%;
  gap: 1rem;
}

.grid2 {
  margin-top: 1rem;
  margin-bottom: 6rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}


.grid-image img {
  width: 100%;
  display: block;
}

footer {
  background-color: #ffd1df;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 150%;
  color: black;
  padding-left: 4rem;
  padding-right: 4rem;
}

footer a:hover {
  color: #F45082;
}

.bio {
  margin-top: 2rem;
  margin-bottom: 6rem;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  width: 50%;
  line-height: 2rem;
}

main h3 {
  font-size: 48px;
  padding-bottom: 2rem;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  line-height: 3rem;
}

main h4 {
  font-size: 32px;
  padding-bottom: 1rem;
  padding-top: 2rem;
  font-family: "Freeman", sans-serif;
  font-weight: 100;
}

.projects {
  margin: 4rem auto 10rem auto;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  max-width: 50%;
  line-height: 2rem;
}

.cover {
  width: 100%;
  display: block;
}

figure {
  margin: 0;
}

.circleville-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 58.586% 41.425%;
  gap: 1rem;
}

.circleville-grid img {
  width: 100%;
  display: block;
}

.circleville-grid2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 47.237% 52.763%;
  margin-top: 1rem;
  margin-bottom: 6rem;
  gap: 1rem;
}

.circleville-grid2 img {
  width: 100%;
  display: block;
}

.moodboard {
  width: 75%;
  display: block;
  margin: 0 auto 10rem auto;
}

.title {
  margin: 0 auto 1rem auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.content {
  margin: 0 auto 2rem auto;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  max-width: 50%;
  line-height: 2rem;
}

.logo {
  width: 25%;
  display: block;
  margin: 0 auto 10rem auto;
}

.process {
  width: 50%;
  display: block;
  margin: 0 auto 8rem auto;
}

.projects img {
  margin: 0 auto;
  width: 100%;
  display: block;
}


.app {
  width: 100%;
  display: block;
}

.vows-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0 auto 10rem auto;
  width: 75%;
}

.vows-grid img {
  width: 100%;
  display: block;
}

main video {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.video2 {
  display: block;
  width: 25%;
  margin: 0 auto;
  height: auto;
  padding-top: 0;
  padding-bottom: 8rem;
}

.final {
  width: 100%;
  display: block;
  margin: 0 auto 6rem auto;
}


@media (max-width: 499px) {

  header {
    background-color: white;
    /*change color*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem .5rem;
    /*change size*/
  }

  header h1 {
    font-size: 2rem;
    /*change size*/
    text-align: center;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  nav a {
    text-transform: uppercase;
    display: block;
    color: black;
    /*change color*/
    text-decoration: none;
  }

  nav a:hover {
    color: #FC6C85;
    border-radius: 1rem;
    /*change*/
  }

  main {
    padding: 0 2rem;
  }

  .wrapper {
    background-color: white;
    max-width: 2500px;
    margin: 0 auto;
  }

  main h2 {
    font-size: 50px;
    /*change size*/
    text-align: center;
    padding-bottom: 2rem;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    line-height: 3rem;
  }

  .about {
    font-size: 24px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-family: "Lato", sans-serif;
  }

  .intro {
    padding-bottom: 6rem;
    padding-top: 6rem;
    line-height: 2rem;
  }

  .grid {
    padding: .5rem auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    justify-content: center;
  }

  .grid2 {
    padding: .5rem auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    justify-content: center;
  }


  .grid-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  footer {
    background-color: #ffd1df;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer a {
    font-size: 150%;
    color: black;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  footer a:hover {
    color: #F45082;
  }

  .bio {
    margin-top: 2rem;
    margin-bottom: 6rem;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    width: 50%;
    line-height: 2rem;
  }

  main h3 {
    font-size: 48px;
    padding-bottom: 2rem;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    line-height: 3rem;
  }

  main h4 {
    font-size: 32px;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-family: "Freeman", sans-serif;
    font-weight: 100;
  }

  .projects {
    margin: 4rem auto 10rem auto;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    max-width: 75%;
    line-height: 2rem;
  }

  .cover {
    width: 100%;
    display: block;
  }

  figure {
    margin: 0;
  }

  .circleville-grid {
    display: grid;
    padding: .5 auto;
    justify-content: center;
    grid-template-columns: 100%;
    gap: 1rem;
  }

  .circleville-grid img {
    width: 100%;
    display: block;
  }

  .circleville-grid2 {
    ddisplay: grid;
    padding: .5 auto;
    justify-content: center;
    grid-template-columns: 100%;
    margin-top: 1rem;
    margin-bottom: 6rem;
    gap: 1rem;
  }

  .circleville-grid2 img {
    width: 100%;
    display: block;
  }

  .moodboard {
    width: 100%;
    display: block;
    margin: 0 auto 10rem auto;
  }

  .title {
    margin: 0 auto 1rem auto;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }

  .content {
    margin: 0 auto 2rem auto;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    max-width: 75%;
    line-height: 2rem;
  }

  .logo {
    width: 75%;
    display: block;
    margin: 0 auto 10rem auto;
  }

  .process {
    width: 100%;
    display: block;
    margin: 0 auto 8rem auto;
  }

  .projects img {
    margin: 0 auto;
    width: 100%;
    display: block;
  }


  .app {
    width: 100%;
    display: block;
  }

  .vows-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    gap: 1rem;
    margin: 0 auto 10rem auto;
    width: 100%;
  }

  .vows-grid img {
    width: 100%;
    display: block;
  }

  main video {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .video2 {
    display: block;
    width: 75%;
    margin: 0 auto;
    height: auto;
    padding-top: 0;
    padding-bottom: 8rem;
  }

  .final {
    width: 100%;
    display: block;
    margin: 0 auto 6rem auto;
  }


}